flows2.json
[{"id":"8d99bc76.489df","type":"tab","label":"flow2","disabled":false,"info":""},{"id":"18a35db4.86b222","type":"inject","z":"8d99bc76.489df","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["3c07d3c1.8a10fc"]]},{"id":"3c07d3c1.8a10fc","type":"function","z":"8d99bc76.489df","name":"Payload","func":"msg.headers={\n    deviceKey:\"lDYLQxgr0ZWwy0Ux\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":620,"wires":[["75bb408b.b91d9"]]},{"id":"75bb408b.b91d9","type":"http request","z":"8d99bc76.489df","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DiGrUNjI/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":190,"y":680,"wires":[["5a456880.736488","e79797c9.909d98"]]},{"id":"5a456880.736488","type":"http response","z":"8d99bc76.489df","name":"","statusCode":"","headers":{},"x":350,"y":740,"wires":[]},{"id":"e79797c9.909d98","type":"debug","z":"8d99bc76.489df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":800,"wires":[]}]