flows1.json
[{"id":"8d61e320.ea19d","type":"tab","label":"flow1","disabled":false,"info":""},{"id":"82b84a15.1b48e8","type":"rpi-gpio in","z":"8d61e320.ea19d","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":60,"y":140,"wires":[["535c1214.842bbc","b83c9a70.924848"]]},{"id":"535c1214.842bbc","type":"debug","z":"8d61e320.ea19d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":160,"wires":[]},{"id":"831e6a45.fbe618","type":"rpi-gpio out","z":"8d61e320.ea19d","name":"Red led","pin":"11","set":true,"level":"0","freq":"","out":"out","x":440,"y":520,"wires":[]},{"id":"b83c9a70.924848","type":"switch","z":"8d61e320.ea19d","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":220,"wires":[["12e3e5bb.abcd5a"],["b6f6e4c2.13dc28"]]},{"id":"12e3e5bb.abcd5a","type":"change","z":"8d61e320.ea19d","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["831e6a45.fbe618"]]},{"id":"b6f6e4c2.13dc28","type":"change","z":"8d61e320.ea19d","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":320,"wires":[["831e6a45.fbe618"]]}]