flows3.json
[{"id":"15a821ca.38c52e","type":"tab","label":"flow3","disabled":false,"info":""},{"id":"b21ca598.334db8","type":"inject","z":"15a821ca.38c52e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["81067034.0604"]]},{"id":"81067034.0604","type":"function","z":"15a821ca.38c52e","name":"Payload","func":"msg.headers={\n    deviceKey:\"lDYLQxgr0ZWwy0Ux\"\n};\nmsg.payload=\"Temperature,,26.8\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["54004619.1660d8"]]},{"id":"54004619.1660d8","type":"http request","z":"15a821ca.38c52e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DiGrUNjI/datapoints.csv","tls":"","proxy":"","authType":"","x":190,"y":280,"wires":[["1e61e7ab.ebf3e8","c22ee006.cb3a6"]]},{"id":"1e61e7ab.ebf3e8","type":"http response","z":"15a821ca.38c52e","name":"","statusCode":"","headers":{},"x":350,"y":380,"wires":[]},{"id":"c22ee006.cb3a6","type":"debug","z":"15a821ca.38c52e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":440,"wires":[]}]